#p1{
	text-align:center;
	width:200px;
	padding-left:590px;
	text-shadow:4px 2px 2px red;
	letter-spacing:4px;
	color:white;
	font-size:20px;
}
#lise,#profil{
	display:inline-block;
}
#profil h1{
	text-align:center;
	margin-left:580px;
	
}
@media all and (max-width: 800px)
{
    section
    {
        display: block;
        width: auto;
    }

    #lise
    {
        display: none;
    }

   #profil
    {
        width: auto;
    }

}
section{
	display:inline-block;
	width:25%;
	padding-left:3px;
}
#profil{
	width:20%;
}
li{
	color:red;
}
body{background-color:aqua;}
	p{
		font-size:1.0em;
		font-family:impact;
	}
	h1,h2{
		font-style:italic;
		font-weight:bold;
		text-decoration:underline;
		border-radius:20px ;
		border:3px red solid; 	
		width:200px;
		background-color:white;
		padding-left:12px;
	}

	a{
		background-color:white;
	}
	a:hover{
		color:red;
	}
	img{
		border:1px red solid;
		
	}
	h2 +ul{
		border:2px blue solid;
	}